- name: setup glusterfs
  include: setup-Redhat.yml
  when: ansible_os_family == 'RedHat'

- name: setup glusterfs
  include: setup-Debian.yml
  when: ansible_os_family == 'Debian'

- name: Ensure Gluster brick and mount directories exist.
  file: "path={{ gluster_brick }} state=directory mode=0775"


- name: connect gluster peers 
  shell: gluster peer probe {{ item }}
  with_items:
       - nodes.0
       - nodes.1
  when: gluster_master == {{ ansible_default_ipv4.address }}


- name: Configure Gluster volume.
  gluster_volume:
     state: present
     name: "{{ gluster_volume_name }}"
     brick: "{{ gluster_brick }}"
     replicas: 2
     cluster: "{{nodes.0}},{{nodes.1}} "
     host: "{{ ansible_default_ipv4.address }}"
     force: yes
  when: gluster_master == {{ ansible_default_ipv4.address }}

- name: Start Gluster volume
  gluster_volume: name={{ gluster_volume_name }} state=started
  when: gluster_master == {{ ansible_default_ipv4.address }}




